[submodule "Carthage.checkout/ISO8601"]
	url = https://github.com/eliperkins/ISO8601.git
[submodule "Carthage.checkout/LlamaKit"]
	url = https://github.com/LlamaKit/LlamaKit.git
[submodule "Carthage.checkout/Nimble"]
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage.checkout/Quick"]
	url = https://github.com/Quick/Quick.git
[submodule "Carthage.checkout/xcconfigs"]
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Carthage.checkout/CMDQueryStringSerialization"]
	url = https://github.com/eliperkins/CMDQueryStringSerialization.git
[submodule "Carthage.checkout/ReactiveCocoa"]
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
