github "ReactiveCocoa/ReactiveCocoa" "swift-development"

github "LlamaKit/LlamaKit"
github "eliperkins/CMDQueryStringSerialization"

github "Quick/Quick" == 0.2.0
github "Quick/Nimble"

github "thoughtbot/Argo"
